
  <body>

    <h1>Mars</h1>
    <h2>
      <% let mars = name;
     let capitalized =mars.charAt(0).toUpperCase() + mars.slice(1);%> 
     <%=capitalized%>
    </h2>
    <img src="<%=img%>"/>
    <h3>
       
        Name: <%=name%>
        lunchDate: <%=launchDate%>
        Operator: <%=operator%>
        missionType: <%=missionType%>
        
        
    </h3>
    <a href="/mars">Back</a>

  </body>
</html>